.weather-app {
  margin: 30px auto;
  padding: 15px;
  max-width: 600px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 200, 124) 20%,
    rgb(252, 251, 121) 90%
  );
  font-family: "Narnoor", serif;
  border: 10px solid #ffb32f;
  border-radius: 10px;
}
.search-form {
  margin: 0;
  padding: 0;
}
h4,
h5 {
  font-size: 15px;
  color: #857e67;
  margin-top: 20px;
}
.currentDate {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu {
  text-align: right;
}
h1,
h2,
h3 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #2f2c26;
}
h1 {
  font-size: 80px;
}
h2 {
  color: black;
  font-size: 15px;
}
h3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.sunrise,
.sunset {
  text-align: center;
}
.temperatureUnits {
  font-size: 15px;
  color: #857e67;
}
.card-body-days {
  text-align: center;
  background: linear-gradient(
    87.4deg,
    rgb(255, 241, 165) 1.9%,
    rgb(200, 125, 76) 49.7%,
    rgb(83, 54, 54) 100.5%
  );
  opacity: 0.9;
}
footer {
  display: block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 20px;
}
